*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-family: "Inter",sans-serif;
    background-color: #F4F5FC;
}
a{
    text-decoration: none;
    color: #DAD6EA;
}
ul {
    padding: 0;
    margin-bottom: 0;
}

/*Information section backgroundColor*/
.brandBlue{
    background-color: #38547B;
}

/*Profile Section*/
.profile__image__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 234px;
    margin: 0 auto;
    background: #1B3B67;
    box-shadow: 0px 4px 6px #324B6F;
    height: 234px;
    position: relative;
}

.profile__image__wrapper__edit::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    border-radius: 50%;
}

.b-rads50{
    border-radius: 50%;
}
.d-flex{
    display: flex;
}
.fl-dir{
    flex-direction: column;
}
.username{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 31px;
    color: #FFFFFF;
}
.role{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
    
}
.mb-110{
    margin-bottom: 110px;
}
.mb-24{
    margin-bottom: 24px;
}
.m-auto{
    margin: 0 auto;
    text-align: center;
}
.mini__info__wrapper{
    padding-bottom: 5px;
    padding-top: 5px;
}
.mini__info__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size:17px;
    line-height: 24px;
    color: #FFFFFF;
}
.mini__info__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.hr{
    opacity: 0.5;
    background-color: #FEF9FA;
    height: 1px;
}
.p-rl-50{
    padding:  0 50px;
}
.pt-43{
    padding-top: 43px;
}
.pb-145{
    padding-bottom: 145px;
}
.custom_btn{
    background-color: #1B3B67;
    border-radius: 5px;
    width: 318px;
    height: 53px;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:focus{
    outline: none;box-shadow: none;
}

/* Education */
.bg-gray{
    background-color: #E5E5E5;
}
.bg-white{
    background-color: #FFFFFF;
}
.education__wrapper{
    height: 92%;
}
/* About section */
.about__section{
    padding: 40px;
    overflow: auto;
    max-height: 630px;
}
.about__section::-webkit-scrollbar {
    height: 7px;
    width: 5px;
}

.about__section::-webkit-scrollbar-track {
    border-radius: 10px;
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.about__section::-webkit-scrollbar-thumb {
    background-color: #3d4325;
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.about__section-title{
}
.about__section-head{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #38547B;
    margin-bottom: 13px;
}
.list__group{

}
.list__group__item{
    margin-bottom: 15px;
}
.about__section__link{
    border-top-left-radius: 30px;
    border-top-right-radius: 100px;
    width: 150px;
    text-align: center;
    /* clip-path: polygon(73% 0, 76% 16%, 81% 36%, 86% 53%, 92% 76%, 100% 100%, 0 100%, 0 0); */
    clip-path: polygon(80% 0, 80% 15%, 82% 33%, 86% 53%, 92% 76%, 100% 100%, 0 100%, 0 0);
    /* padding: 15px; */
    height: 55px;
        line-height: 55px;  
    background: #FAFAFE;
    border: 0.25px solid #FCF7F8;
    overflow: hidden;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.1);
}
.about__section__link a{
    display: block;
    height: 100%;
        width: 100%;
        font-weight: 600;
}
.about__section__link a:hover{
    transition: color 0.3s linear;
}

.active{
    background-color: white;
    color: #38547B;
    box-shadow: none;
}
/* Science section */
.science__section {
    padding: 30px;
    overflow: auto;
    max-height: 630px;
}
.science__section::-webkit-scrollbar {
    height: 7px;
    width: 5px;
}
.science__section::-webkit-scrollbar-track {
    border-radius: 10px;
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.science__section::-webkit-scrollbar-thumb {
    background-color: #3d4325;
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.table__for__science{
}
.table__row{
    display: flex;
}
.table__row .one_portion {
    border-radius: 6px;
}
.table__head{
    padding: 15px !important;
    color: #38547B;
    /* align-self: center; */
    border: 3px solid #fff;
    text-align: center;
    background-color: #F4F5FC;
    flex-grow: 1;
    flex-shrink: 0;
}


.table__data{
    padding: 15px !important;
    border: 3px solid #fff;
    background-color: #F4F5FC;
    flex-grow: 1;
    flex-shrink: 0;
}
.table__data__w1{
    flex: 0 0 300px;
}
.table__data__w2{
    flex: 0 0 150px;
}
/*  Achievement section */
.achievement__section{
    padding: 30px;
    overflow: auto;
   
}
.achievement__diplom{
    margin-left: 4px;
}
.achievement__table__row{
    margin-bottom: 20px;
}
@media screen and (max-width:768px) {
    .btn{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:992px) {
    .btn {
        margin-bottom: 20px;
    }
}
@media screen and (min-width:992px) {
    .custom_btn {
        margin-bottom: 5px;
    }
    .mini__info__title {
        font-size: 16px;
    }
    .mini__info__subtitle {
        font-size: 15px;
    }
}
